$background: #FDFFFD;
$background-gray: #F4F5F3;
$highlight-background: #56CBF9;
$main: #BB4D00;



$action: #FE4E63;
$shadow: rgba(#000000, .16);

$border: #CFFCFF;

// Text colors

$text: #1A161E;
$blue-text: #026094;
$white-text: #FBFEF9;
$gray-text: rgba(26, 22, 30, .7);
$text-super-lighter: rgba(#1A161E, .4);
