$background: #F8FFFA;
$main: #BB4D00;
$text: #1A161E;
$blue-text: #026094;
$highlight-background: #CFFCFF;
$light-text: #FBFEF9;
$action: #FE4E63;
$text-lighter: rgba(26, 22, 30, .7);
$shadow: rgba(#000000, .16);
