= simple_form_for @comment, url: post_comments_path(post_id: post.id) do |f|
  .form-group.text.required.comment_content.write-message
    %textarea#comment_content.form-control.text.required{:name => "comment[content]", :placeholder => "Comment", rows: '1' }
    = button_tag type: 'submit', class: 'bttn bttn-action' do
      %i.fa.fa-paper-plane
