-comments.each do |comment|
  .comment-box
    // User Photo
    - if comment.user.photo.present?
      = image_tag comment.user.photo.url, class: 'avatar avatar-xs profile-avatar'
    - else
      = image_tag 'default.png', class: 'avatar avatar-xs profile-avatar'
    .text-area
      // User
      %span= comment.user.nickname
      // Comment
      %p= comment.content
