.home-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: .8rem;
  padding: 40px 16px;
  p {
    margin: 0;
    color: $gray-text;
    text-align: left;
  }
}
.home-text-block {
  height: 57px;
  text-align: right;
  width: 60%;
  span {
    width: 100%;
    text-align: left;
  }
}
.bttn-home {
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  i {
    margin-left: 8px;
  }
}
