.photo-viewer-container
  -if user.photo.present?
    =image_tag user.photo.url(:large_thumb), class: 'avatar profile-photo-solo'
  -else
    =image_tag 'default.png', class: 'avatar profile-photo-solo'
  -if current_user == user
    .photo-changes-links
      %a.edit-button-trigger
        Edit
      .profile-photo-edit
        =simple_form_for user do |f|
          = f.input :photo, label: false
          Change
      =link_to "#" do
        Delete

.fakemodal-container
  .fakemodal-box
    = image_tag @user.photo.url(:large), id: 'cropbox'
  = form_for @user do |f|
    - %w[x y w h].each do |attribute|
      =f.hidden_field "crop_#{attribute}"
    =f.submit class: 'bttn bttn-action btn-block no-radious'
