.row
  .col-sm-12.col-lg-4
    .info-card
      .info-card-part
        = image_tag 'globeicon.png'
      .info-card-part
        %h3 だから海外は面白い
      .info-card-part
        %p 違う文化、もの、こと、場所… 見つけた、好きなことも、受け入れ難いことも ちょっと書いてみる所
  .col-sm-12.col-lg-4
    .info-card
      .info-card-part
        = image_tag 'mapicon.png'
      .info-card-part
        %h3 おすすめスポット
      .info-card-part
        %p おきにいりの場所、お店、レジャーをシェア ほっとできる場所だったり、 いつも行く小さなお店だったり
  .col-sm-12.col-lg-4
    .info-card
      .info-card-part
        = image_tag 'commenticon.png'
      .info-card-part
        %h3 今日のひとこと
      .info-card-part
        %p なんとなくつぶやきたいことはここへ
