.modal-dialog.modal-photo.fakemodal
  .modal-content
    .modal-header
      %h4= @record.nickname
      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
        %span{"aria-hidden" => "true"} ×
    .modal-body
      .fakemodal-box
        = image_tag @record.photo.url(:large), id: 'cropbox'
    = form_for @record do |f|
      - %w[x y w h].each do |attribute|
        =f.hidden_field "crop_#{attribute}"
      =f.submit class: 'bttn bttn-action btn-block no-radious'
