.home-block
  .home-text-block
    %p
      海外で見つけた色々を言葉にしてみる。 新しい発見やつながりが生まれたり ちょっとほっとしたり…
  .home-bttn-block
    = link_to set_path(posts_url), class: 'bttn bttn-action bttn-home' do
      Start
      %i.fas.fa-angle-right

= render partial: 'shared/info_card'
