.home-block
  .home-text-block
    %p
      留学しているからこそ分かる 日本とは違う「ふつう」の
    %span
      つぶやきサイト
  .home-bttn-block
    = link_to set_path(posts_url), class: 'bttn bttn-action bttn-home' do
      Start
      %i.fas.fa-angle-right

= render partial: 'shared/info_card'
