%h1 Peges#home
%p Find me in app/views/peges/home.html.haml
.btn-group
  %button{ type: 'button', class: 'btn btn-danger dropdown-toggle', 'data-toggle': 'dropdown', 'aria-haspopup': "true", 'aria-expanded': "false" } Action
  .dropdown-menu
    %a{ class: 'dropdown-menu-item' } Oba
