%h1 Hello
-if current_page?(:posts)
  %button.bttn.bttn-action#open-modal{"data-target" => "#form-modal", "data-toggle" => "modal", :type => "button"}
    +Write
  #form-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalCenterTitle", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body
          =render 'posts/new'

- @posts.each do |post|
  =render partial: 'posts/show', locals: { post: post }
