.bttn {
  border-radius: 5px;
  font-size: 12px;
  padding: 8px 12px;
}
.bttn-action {
  background-color: $action;
  color: $white-text;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 3px 3px 6px rgba($text, .3);
}
.edit-button {
  color: $blue-text !important;
  i {
    font-size: 16px;
  }
}
