.comments-container {
  padding: 16px;
}
.comment-box {
  text-align: left;
  .trigger-buttons {
    text-align: right;
    a {
      font-size: 12px;
      color: $blue-text;
    }
  }
}
.comment-body {
  display: flex;
  align-items: center;
}
.read-comments-section {
  padding-bottom: 16px;
}
.text-area {
  flex: 1;
  position: relative;
  font-size: 12px;
  margin: 8px 0 0 0;
  p {
    background-color: $background;
    padding: 4px;
    border-radius: 16px;
    margin: 0;
  }
}
.comment-reply {
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $background;
  width: 50%;
  border: 1px solid $border;
  text-align: left;
  margin: 0;
  color: $blue-text;
  span {
    color: $text;
  }
}
