.comments-container {
  padding: 16px;
}
.comment-box {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  text-align: left;
}
.text-area {
  font-size: 12px;
  p {
    background-color: $background;
    padding: 4px;
    border-radius: 16px;
  }
}
