.comments-container {
  padding: 16px;
}
.comment-box {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  text-align: left;
}
.read-comments-section {
  padding-bottom: 16px;
}
.text-area {
  position: relative;
  font-size: 12px;
  margin: 8px 0;
  a {
    font-size: 12px;
  }
  p {
    background-color: $background;
    padding: 4px;
    border-radius: 16px;
    margin: 0;
  }
}
