.form-block {
  display: flex;
  align-items: start;
  select {
    font-size: 12px;
  }
}
.form-block-inputs {
  text-align: center;
  margin-left: 4px;
  vertical-align: center;
}
.form-button-right {
  float: right;
}
.file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  opacity: 0;
}
