.form-button-right {
  float: right;
}
.file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  opacity: 0;
}
#imgpreview {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  border-radius: 8px;
  height: 170%;
  width: 100%;
}
.image-upload-box {
  position: relative;
  background-color: white;
  height: 200px;
  width: 200px;
  overflow: hidden;
  text-align: center;
  padding: 40px 0;
  color: $text-super-lighter;
  cursor: pointer;
  .image-upload-image {
    height: 64px;
    width: 64px;
  }
}
.upload-block-box {
  display: inline-block;

}
.profile-picture-box {
  display: flex;
  justify-content: space-around;
}
.profile-picture {
  width: 150px;
  height: 150px;
  padding: 0;
}
