.post-container {
  margin: 40px 0;
  border-radius: 16px;
  transition: box-shadow .2s ease-out;
  transition: background-color 1s ease-out;
}
.post-content {
  margin-bottom: 16px;
}
.post-date {
  font-size: 8px;
  position: absolute;
  top: 8px;
  right: 8px;
}
.post-image-box {
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  background-color: $gray-text;
  align-items: center;
  img {
    width: 100%;
  }
}
.post-block-show{
  padding: 24px 0;
  .post-block-inputs {
    margin-right: -20px;
  }
}
.post-block-simple {
  padding-bottom: 0;
}
.post-floats {
  float: right;
  text-align: center;
  margin: 0 16px;
}
// Comments and Reactions

.post-extras {
  text-align: right;
}

// Shared with form

.post-block {
  display: flex;
  align-items: start;
  select {
    font-size: 12px;
  }
}
.post-block-inputs {
  text-align: center;
  margin-left: 4px;
  flex: 1;
}
