// Post Reactions

.reactions-container {
  display: none;
  width: 100%;
  position: absolute;
  top: 8px;
  background-color: $background;
  z-index: 1;
}
.reactions-container-for-comments {
  background-color: transparent !important;
  top: 4px;
}
.reactions-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $background-gray;
  border-radius: 8px;
  box-shadow: 10px 10px 10px $shadow;
  padding: 16px;
}
.reaction-box-small {
  padding: 4px !important;
  width: 60% !important;
  border-radius: 4px !important;
}
.reaction {
  text-align: center;
  button {
    border: none;
    background-color: inherit;
    cursor: pointer;
  }
  p {
    font-size: 10px;
    margin: 0;
  }
}
.reaction-image {
  height: 50px;
  width: 50px;
  opacity: .5;
  &:hover {
    opacity: 1;
  }
}
.reaction-image-selected {
  opacity: 1;
  &:hover {
    opacity: .5;
  }
}
.reaction-image-small {
  height: 16px;
  width: 16px;
  opacity: .5;
  &:hover {
    opacity: 1;
  }
}
@media (max-width: 350px) {
  .reaction {
    p {
      font-size: 8px;
    }
  }
  .reaction-image {
    height: 32px;
    width: 32px;
  }
}

// Comments Reactions
